<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/741c9bc0-5370-4027-900e-185ea3cc3cc3/resourceGroups/th-develop-payg/providers/Microsoft.Web/sites/AlexaMenu</ResourceId>
    <ResourceGroup>th-develop-payg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://alexamenu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d1a511bb-abe5-49f6-af40-6caae0e1d155</ProjectGuid>
    <PublishUrl>https://alexamenu.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AlexaMenu</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>